#background {
    background-image: url("../images/background-pattern-design-1.jpg")
}

#table {
    width: 1000px;
    height: 500px;
    border-radius: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    z-index: 1;
}

#community-cards {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 325px;
    width: 675px;
    margin-left: auto;
    margin-right: auto;
}

.community-card {
    height: 160px;
    width: 114px;
}

#pot-container {
    position: absolute;
    top: 120px;
    display: block;
    margin-left: 47%;
    margin-right: 53%;
}

#pot-description {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: -5px;
    color: white;
}

#pot-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    width: 100px;
}

#action-container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    padding: 25px;
}

.action-button {
    background: lightgray;
    padding: 5px;
    margin: 10px;
    height: 60px;
    width: 90px;
    border-radius: 20px;
}

.action-label {
    margin-bottom: -10px;
    text-align: center;
}

.action-amount {
    text-align: center;
}

#slide-container {
    position: absolute;
    bottom: 120px;
    right: 60px;
    width: 300px;
}

#raise-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#raise-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

#raise-slider::-moz-range-thumb {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

#main-player {
    position: absolute;
    bottom: 50px;
    margin-left: 45%;
    margin-right: 55%;
}

#player1 {
    position: absolute;
    bottom: 80px;
    margin-left: 65%;
}

#player2 {
    position: absolute;
    bottom: 80px;
    margin-left: 25%;
}

#player3 {
    position: absolute;
    margin-left: 78%;
    bottom: 220px;
}

#player4 {
    position: absolute;
    margin-left: 10%;
    bottom: 220px;
}

#player5 {
    position: absolute;
    margin-left: 78%;
    top: 130px;
}

#player6 {
    position: absolute;
    margin-left: 10%;
    top: 130px;
}

#player7 {
    position: absolute;
    top: 20px;
    margin-left: 60%;
}

#player8 {
    position: absolute;
    top: 20px;
    margin-left: 30%;
}

.player-info {
    z-index: 4;
    background: lightgrey;
    text-align: center;
}

.player-card {
    z-index: 3;
    height: 130px;
    width: 93px;
}

.player-cards {
    display: flex;
}
